.Footer {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

.FooterParagraph {
  font-size: 16px;
  max-width: 520px;
}

.FooterRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Icons {
  margin-bottom: 1rem;
}

.Icons > a {
  color: #222325;
}

.Icons > a:not(:last-child) {
  margin-right: 1rem;
}

.Icons > a > i > svg {
  width: 30px;
  height: 30px;
}

.FooterLinks {
  margin-bottom: 1rem;
}

.FooterLinks > span {
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.Copyright {
  color: #c7c7c7;
  font-size: 14px;
  letter-spacing: 0.1rem;
}
